<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Buy an item</title>
  </head>
  <body>
    <h2>Enter an Item to Buy</h2>
    <form action="/checkout" method="post">
      <label for="item">Item: </label>
      <input type="text" id="item" name="item">
      <input type="submit" value="submit">
    </form>
  </body>
</html>
